body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 550px;
    
}

.main-container{
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    max-width: 400px;
}
#header {
    font-size: xx-large;
    font-weight: 700;
    font-style: oblique;
    margin: .6rem 0  0;
    text-justify: center;
    text-align: center;
}
#subheader {
    font-size: x-large;
    margin-bottom: .4rem;
    text-justify: center;
    text-align: center;

}
#gamearea{
    display: flex;
    flex-direction: column;
}
#wordboard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 48vw;
    max-width: 400px;
    align-self: center;
}
.tile{
    box-sizing: border-box;
    font-size: 200%;
    border: 2px black solid;
    border-radius: 6px;
    width: 100%;
    height: 6.5vw;
    max-height: 50px;
    max-width: 70px;
    text-align: center;
    text-justify: center;
    padding: 11px 0 0;
    margin: 0 0 6px;
}
#keyboard {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: 100%;
    border: 5px grey solid;
    border-radius: 12px;
    background-color: rgb(152, 157, 164, 0.1);
}

.keyboardkey{
    font-size: 2vh;
    border: 2px black solid;
    border-radius: 6px;
    width: 4vw;
    min-width: 40px;
    height: 60px;
    text-align: center;
    text-justify: center;
    padding: 4px 3px;
}
.keyrow{
    display: flex;
    justify-content: center;
}
.keyboardkey{
    margin: .7vw 1vw;
}

.wordchoices {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    font-size: 5vw;
}
#randomword, #wordoftheday {
    font-size: 1rem;
    padding: 6px 20px;
}

.wordle{
    color: cornflowerblue;
    text-shadow:0px 2px 2px light plum;
    font-weight: 600;
}

.inword {
    background-color: lightskyblue;
}

.inplace {
    background-color: limegreen;
}

.notinword{
    background-color: grey;
}
.playmode{
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 900;
}


/* modal copy paste */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 20%;
    width: 60vw;
    height: 30vw; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(202, 230, 202, 0.9); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-size: 2rem;
    color: black;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-shadow: 1px .5px 1px linen;
    font-weight: 900;
    padding: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  #blankline{
      height: 5px;
  }
  /* The Close Button */
  .close {
    position: relative;
    left: 19%;
    font-size: 15px;
    color: black;
    border: black 1px solid;
    float: right;
    padding: 6px 8px 4px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #enter, #delete{
      font-size: small;
      min-width: 60px;
  }